:root {
  --bg: #f4f6f8;
  --text: #111;
  --card: #fff;
}

body {
  background: var(--bg);
  color: var(--text);
}

.card {
  background: var(--card);
}

/* DARK MODE */
body.dark {
  --bg: #121212;
  --text: #f1f1f1;
  --card: #1e1e1e;
}
